.input:checked {
  margin-left: 25px;
  border: 1px solid blue;
}

.pending,
.processing,
.onHold,
.completed,
.cancelled,
.refunded,
.failed {
  list-style: 30px;
}

.pending {
  color: rgb(177, 173, 173);
}
.processing {
  color: greenyellow;
}
.onHold {
  color: orange;
}
.completed {
  color: rgb(11, 116, 54);
  color: lightgreen;
  /* font-weight: bold; */
}
.cancelled {
  color: rgba(128, 128, 128, 0.397);
}
.refunded {
  color: rgb(31, 30, 30);
}
.failed {
  color: red;
}
